body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    color: #fff;
}

.card p {
    font-size: 2em;
    color: #fff;
}
.image-container {
    text-align: center;
    margin: 20px 0;
}

.graph {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional for styling */
}
